{% extends 'base.html.twig' %}

{% block title %}Edit ResumeSubmission{% endblock %}

{% block body %}
    <h1>Edit ResumeSubmission</h1>

    {{ include('resume_submission/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_resume_submission_index') }}">back to list</a>

    {{ include('resume_submission/_delete_form.html.twig') }}
{% endblock %}
